.global{
    margin-top: 120px;
}
.global .title{
    text-align: center;
    margin-bottom: 60px;
}
.global .title h2{
    width: 849px;
    margin: 0 auto;
}
.global .box{
    display: flex;
    justify-content: space-between;
}